<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588194938381-65afpmfo456qcho6edmm1usrn7rjfb5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588194938381-65afpmfo456qcho6edmm1usrn7rjfb5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588194938381-hj9dse0sbvf33vd57kev4piqmvpe70o7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMQXUbbeNXU-kiQ7kcqak-4LvNbTp2cwI</string>
	<key>GCM_SENDER_ID</key>
	<string>588194938381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goecworld.goec</string>
	<key>PROJECT_ID</key>
	<string>goecapp-fafd9</string>
	<key>STORAGE_BUCKET</key>
	<string>goecapp-fafd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588194938381:ios:9fbd7db262d1be10991f44</string>
</dict>
</plist>